//  @import '../components/product/productItem.css'; 

$primary-color: #64ff;
$primary-colorTwo: white;
$primary-colorThree: red;

.color {
   color: $primary-colorThree;
}


.buttonOne {
    color: $primary-colorTwo;
    background-color: $primary-color;
        
    border-radius: 10px;
    &:hover{  background-color: rgb(60, 43, 134);
    
    }
}